html, body {
  margin: 40px;
  padding: 40px;
  background-color:#FFC107;
  color:#000;
  font-weight: bold;
  font-size:18px;
}

canvas {
  display: block;
}

h2 {
  color:#000;
  font-weight: bold;
  font-size:32px;  
  text-decoration: underline;
}

